.build{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;

}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-direction: row;

}
.nav-a{
    display: flex;
    flex-direction: row;

    border: 2px solid;
    border-color: black;
}
.nav-c{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    width: 30%;
    border: 2px solid;
    border-color: black;
    
}
.nav-c-anchor{
    padding-left: 25px;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    border: 2px solid;
    border-color: black;
}
.logo-pic{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid;
    border-color: black;
}
.search-form{
    border: 1px solid #dfe1e5;
    width: auto;
    max-width: 540px;
    width: 535px;
    height: 44px;
    
}
.search-buttons{
    align-content: center;
    border: 1px black;
}
.input-button{
    padding: 10px 15px;
    background-color: #f8f9fa;
}
.bottom-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: #f2f2f2;;
}
.bottom-left{
    padding: 5px;
 
}
.bottom-center{
    padding: 5px;
    
}
.bottom-right{
    padding: 7px;
    
}
.left-a{
    padding: 7px;
}
.center-a{
    justify-items: center;
}
.right-a{
    padding: 7px;
}


