.build{
    display: block;
    width: 100%;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}
ul{
    list-style-type: none;
    overflow: hidden;
    
}
li{
    display: inline;
    padding: 10px;

}
li.nav-c{
    display: block;
    float: right;
    padding: auto;
}
li.nav-b{
    display: block;
    float: right;
    padding: auto;
}
li.nav-a{
    display: block;
    float: left;
    padding: auto;
}
.logo{
    display:block;
    text-align:center;
    margin: auto;
    margin-top: 100px;
}
.search-form{
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 25px auto;
    width: 500px;
    max-width: 584px;
    
}
.search-buttons{
    display: block;
    text-align: center;
    margin: auto;
}
.car-msg{
    display: block;
    text-align: center;
    margin-top: 30px;

}
.bottom-navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
.bottom-left {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .bottom-center {
    text-align: center;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .bottom-right {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }