.build{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
    text-decoration: none;
    

}
a{
    text-decoration: none;
    padding: 5px;
    
}
a:hover{
    text-decoration: underline;
    
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    height: 50px;
    background-color: aqua;
    overflow: hidden;
}
li{
    align-items: center;
}
.nav-a{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.nav-c{
    display: flex;
    flex-direction: row;
    
}
.nav-c-sigin{
    background-color: #1a73e8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.logo{
    display: flex;
    justify-content: center;
    margin-top: 45px;

}
.logo-pic{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

}
.forms{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.search-form{
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    width: auto;
    max-width: 540px;
    width: 535px;
    height: 44px;

    margin-bottom: 10px;

    
}
.search-buttons{
    display: flex;
    justify-content: center;
    border: 1px black;
    
}
.input-button{
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    padding: 10px;
    margin-left: 30px;
}
.bottom-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    text-decoration: none;
}
.bottom-left{
    padding: 5px;
    text-decoration: none;
 
}
.bottom-center{
    padding: 5px;
    
}
.bottom-right{
    padding: 7px;
    
}
.left-a{
    padding: 7px;
}
.center-a{
    justify-items: center;
}
.right-a{
    padding: 7px;
}


